{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>
  <script>
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    if (response.status === 'connected') {
      sendTokenToServer(response.authResponse.accessToken);
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
    FB.init({
      appId      : {{ config['FB_APP_ID'] }},
      cookie     : true,  // enable cookies to allow the server to access
                          // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.8' // use graph api version 2.8
    });

    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  function sendTokenToServer(accessToken) {
    console.log('Fetching user information.... ');
    FB.api('/me', function(response) {
      console.log('Successful Facebook login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';

      var xhr = new XMLHttpRequest();
      xhr.open('POST', '{{ url_for("fbconnect") }}?state={{ state }}');
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xhr.onload = function() {
        console.log('Server side call status: ' + xhr.status);
        if (xhr.status === 200) {
          $('#status').html('Login Successful!<br>' + xhr.responseText + '<br>Redirecting...');
          window.location.href = "{{ url_for('frontpage') }}";
        } else {
          $('#status').html('Failed to make a server-side call. Check your configuration and console.');
        }
      };
      xhr.send('access_token=' + accessToken);
      console.log('Making call to server');
    });
  }
  </script>
{% endblock %}
{% block title %}Login With Facebook{% endblock %}
{% block body %}
<div class="page-header">
  <h1>Login With Facebook</h1>
</div>

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status"></div>
{% endblock %}
