{% extends "layout.html" %}
{% block title %}Add Course{% endblock %}
{% block body %}
<h1>Add Course</h1>
<form method="post">
  <label>
    Course Name
    <input type="text" name="name" value="">
  </label>

  <label>
    Course URL
    <input type="text" name="url" value="">
  </label>

  <label>
    School
    <select name="school">
      <option selected disabled>Choose a School</option>
      {% if schools %}
      {% for school in schools %}
      <option value="{{ school.id }}">{{ school.name }}</option>
      {% endfor %}
      {% endif %}
    </select>
  </label>

  <label>
    Category
    <select name="category">
      <option selected disabled>Choose a Category</option>
      {% if categories %}
      {% for category in categories %}
      <option value="{{ category.id }}">{{ category.name }}</option>
      {% endfor %}
      {% endif %}
    </select>
  </label>

  <input type="submit" value="Submit">
</form>
{% endblock %}
