{% extends "layout.html" %}
{% block title %}Edit Course{% endblock %}
{% block body %}
<h1>Edit Course</h1>
<form method="post">
  <label>
    Course Name
    <input type="text" name="name" value="{{ fields.name }}">
    {% if errors and errors.name_exists %}
      <div class="error">
        A course already exists with that name for this school.
      </div>
    {% endif %}
    {% if errors and errors.name %}
      <div class="error">
        Please enter a course name.
      </div>
    {% endif %}
  </label>

  <label>
    Course URL
    <input type="text" name="url" value="{{ fields.url }}">
    {% if errors and errors.url %}
      <div class="error">
        Please enter a course URL.
      </div>
    {% endif %}
  </label>

  <label>
    School
    <select name="school">
      <option value=""{% if not fields.school %} selected{% endif %} disabled>Choose a School</option>
      {% if schools %}
      {% for school in schools %}
      <option value="{{ school.id }}"{% if fields and fields.school|int() == school.id|int() %} selected{% endif %}>{{ school.name }}</option>
      {% endfor %}
      {% endif %}
    </select>
    {% if errors and errors.school %}
      <div class="error">
        Please select a school.
      </div>
    {% endif %}
  </label>

  <label>
    Category
    <select name="category">
      <option value=""{% if not fields.category %} selected{% endif %} disabled>Choose a Category</option>
      {% if categories %}
      {% for category in categories %}
      <option value="{{ category.id }}"{% if fields and fields.category|int() == category.id|int() %} selected{% endif %}>{{ category.name }}</option>
      {% endfor %}
      {% endif %}
    </select>
    {% if errors and errors.category %}
      <div class="error">
        Please select a category.
      </div>
    {% endif %}
  </label>

  <input type="submit" value="Submit">
</form>
{% endblock %}
