<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <ul>
      <li><a href="{{ url_for('frontpage') }}">Home</a></li>
      <li><a href="{{ url_for('view_all_courses') }}">Courses</a></li>
      <li><a href="{{ url_for('view_all_schools') }}">Schools</a></li>
      <li><a href="{{ url_for('view_all_categories') }}">Categories</a></li>
      <li>
        {% if session['user_id'] %}
          <a href="{{ url_for('logout') }}">Log Out</a>
        {% else %}
          <a href="{{ url_for('login') }}">Log In</a>
        {% endif %}
      </li>
    </ul>
    {{ session }}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
  </body>
</html>
