{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block body %}
<div class="page-header">
  <h1>Login</h1>
</div>
<p>
  Enter login details below, or login through one of your existing accounts.
</p>
<form method="post">
  <div class="form-group{% if errors and (errors.email or errors.user_not_exist) %} has-error{% endif %}">
    <label class="control-label" for="email">Email</label>
    <input class="form-control"
           id="email"
           type="text"
           name="email"
           value="{{ fields.email }}"
           aria-describedby="email-help">
    <span id="email-help" class="help-block">
      {% if errors and errors.email %}
        Please enter a valid email address.
      {% elif errors and errors.user_not_exist %}
        There is no user with this email address.
      {% endif %}
    </span>
  </div>

  <div class="form-group{% if errors and errors.password %} has-error{% endif %}">
    <label class="control-label" for="password">Password</label>
    <input class="form-control"
           id="password"
           type="password"
           name="password"
           value=""
           aria-describedby="password-help">
    <span id="password-help" class="help-block">
      {% if errors and errors.password %}
        This password is incorrect. Please try again.
      {% endif %}
    </span>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>

<p>
  Don't have an account?
  <a href="{{ url_for('register') }}">
    Click Here to Register
  </a><br>
  or log in through an option below.
</p>

<h2>Login through an existing account</h2>
<a class="btn btn-default" href="{{ url_for('fblogin') }}">Facebook</a>
<a class="btn btn-default" href="{{ url_for('googlelogin') }}">Google</a>
<a class="btn btn-default" href="{{ url_for('githublogin') }}">GitHub</a>

{% endblock %}
