{% extends "layout.html" %}
{% block title %}{{ school.name }}{% endblock %}
{% block body %}
<h1>{{ school.name }}</h1>

{% if session['user_id'] == school.user_id %}
  <a href="{{ url_for('edit_school', id=school.id) }}">Edit</a>
  <a href="{{ url_for('delete_school', id=school.id) }}">Delete</a>
{% endif %}

<a href="{{ school.url }}">Go to school website</a>

{% if school.courses %}
  <h2>Courses in this School:</h2>
  <ul>

    {% for course in school.courses %}
      <li>
        <a href="{{ url_for('view_course', id=course.id) }}">{{ course.name }}</a>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>
    No courses in this school.
  </p>
{% endif %}

{% endblock %}
