{% extends "layout.html" %}
{% block title %}{{ course.name }}{% endblock %}
{% block body %}
<h1>{{ course.name }}</h1>

{% if session['user_id'] == course.user_id %}
  <a href="{{ url_for('edit_course', id=course.id) }}">Edit</a>
  <a href="{{ url_for('delete_course', id=course.id) }}">Delete</a>
{% endif %}

<ul>
  <li>
    URL:
    {{ course.url }}
  </li>
  <li>
    School:
    {{ course.school.name }}
  </li>
  <li>
    Category:
    {{ course.category.name }}
  </li>
  <li>
    Owner:
    {{ course.user.name}}
  </li>
</ul>

{% endblock %}
