{% extends "layout.html" %}
{% block title %}Categories{% endblock %}
{% block body %}
<div class="page-header">
  <h1>Categories</h1>
  {% if session['user_id'] %}
    <p>
      <a class="btn btn-default" href="{{ url_for('add_category') }}">Add Category</a>
    </p>
  {% endif %}
</div>

{% if categories %}
<div class="list-group">
  {% for category in categories %}
    <a class="list-group-item" href="{{ url_for('view_category', id=category.id) }}">
      {{ category.name }}
      <span class="badge">{{ category.courses|length }}</span>
    </a>
  {% endfor %}
</div>
{% else %}
<p>
  No categories
</p>
{% endif %}

{% endblock %}
