{% extends "layout.html" %}
{% block title %}Schools{% endblock %}
{% block body %}
<div class="page-header">
  <h1>Schools</h1>
  {% if session['user_id'] %}
    <p>
      <a class="btn btn-default" href="{{ url_for('add_school') }}">Add School</a>
    </p>
  {% endif %}
</div>

{% if schools %}
<div class="list-group">
  {% for school in schools %}
    <a class="list-group-item" href="{{ url_for('view_school', id=school.id) }}">
      {{ school.name }}
      <span class="badge">{{ school.courses|length }}</span>
    </a>
  {% endfor %}
</div>
{% else %}
<p>
  No schools
</p>
{% endif %}

{% endblock %}
