<form method="post">
  <div class="form-group{% if errors and (errors.name or errors.name_exists) %} has-error{% endif %}">
    <label class="control-label" for="category-name">Category Name</label>
      <input class="form-control"
             id="category-name"
             type="text"
             name="name"
             value="{{ fields.name }}"
             aria-describedby="category-name-help">
      <span id="category-name-help" class="help-block">
        {% if errors and errors.name %}
            Please enter a category name.
        {% elif errors and errors.name_exists %}
            A category already exists with that name.
        {% endif %}
      </span>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
